<div>
    <a class="css-kej3w4"
       href="https://www.nytimes.com/2021/05/17/us/supreme-court-abortion.html?action=click&amp;module=Spotlight&amp;pgtype=Homepage"
       data-uri="nyt://article/57d6aa24-4fbd-5cca-bf81-de0e34376f7d"
       data-story="nyt://article/57d6aa24-4fbd-5cca-bf81-de0e34376f7d"
       data-visited="">
        <h2
                class="css-xxaj7r e1lsht870"
                size="400"><span
                class="balancedHeadline"
                style="display: inline-block; max-width: 207.947px;">Supreme Court to Hear Abortion Case Challenging Roe v. Wade</span><span
                class="ghost" aria-hidden="true"
                style="position: absolute; left: 0px; visibility: hidden;">Supreme Court to Hear Abortion Case Challenging Roe v. Wade</span>
        </h2>
    </a>
    <a class="css-kej3w4"
       href="https://www.nytimes.com/2021/05/17/us/supreme-court-abortion.html?action=click&amp;module=Spotlight&amp;pgtype=Homepage"
       data-uri="nyt://article/57d6aa24-4fbd-5cca-bf81-de0e34376f7d"
       data-story="nyt://article/57d6aa24-4fbd-5cca-bf81-de0e34376f7d"
       data-visited="">
        <h2
                class="css-xxaj7r e1lsht870"
                size="400"><span
                class="balancedHeadline"
                style="display: inline-block; max-width: 207.947px;">Supreme Court to Hear Abortion Case Challenging Roe v. Wade</span><span
                class="ghost" aria-hidden="true"
                style="position: absolute; left: 0px; visibility: hidden;">Supreme Court to Hear Abortion Case Challenging Roe v. Wade</span>
        </h2>
    </a>
</div>
